@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Lato');

body {
    background-color: #abbebd;
    font-family: "Lato";
    font-weight: 300;
    font-size: 15px;
    color: #0f0f0f;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Arvo;
    font-weight: 300;
    color: #310e12;
}

p {
    line-height: 24px;
    margin-bottom: 20px;
}
.centered {
    text-align: center;
}

a {
    color: #c7cb96;
    font-size: 16px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid navajowhite;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    font-weight: 800;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;

}
.navbar-header .navbar-brand {
    color: #f0f2a2;
    font-size: 24px;
    font-weight: bolder;
}

.navbar-nav {
    float: left;
}

.navbar-inverse {
    background: #363230;
    border-color: #8cb940;

}

.navbar-inverse. navbar-nav > .active > a {
    background-color: #ff415a;
}

.navbar-nav {
    padding-left:  25px;

}

.left-bar {
    padding-left: 35px;
}

.admin-panel {
 padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

h2-admin {
    padding-bottom: 20px;
}
.p-admin {
    padding-top: 10px;
    padding-bottom: 0px;
}

#headerwrap {
    background: url("/../public/images/tool5.jpg") no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center;
    min-height: 200px;
    width: 100%;
}

#headerwrap h1 {
    margin-top: 20px;
    color: #fcec0d;
    font-size: 70px;
    letter-spacing: 3px;
    font-weight: 300;
}

#headerwrap h2{
    color: #f8fc01;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}



#footer {
    background: rgba(30, 35, 41, 0.98);
    padding-top: 15px;
    padding-bottom: 17px;
}
#footer i {
color: #edc61a;
    font-size: 25px;

}

.blockquote {
font-weight: bolder;
    color: #e2e0df;
}

.social {
    padding-left: 13px;
}

.content {
    background-color: #a3b990;
}

.dropdown-menu {
    background-color: #e5e5dc;
    padding-left: 10px;
}
.dropdown-menu  > a {
    color: #e2e0df;
}



.viewport{
    width: 400px;
    height: 100px;
    overflow: hidden;
    position: relative;
}
.slidewrapper{
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    margin: 0;
    padding: 0;
}
.slide{
    width: 300px;
    height: 100px;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #ff0000;
}
.second{
    background: #00ff00;
}
.third{
    background: #0000ff;
}






