<h2>Contact Information</h2>





    <p>   Name: {{name}}   </p>
    <p>  Surname: {{surname}} </p>
    <p>  Phone: {{phone}} </p>
    <p>  Email: {{email}}</p>
    <p>  Skype: {{skype}} </p>
    <p>  Vkontakte: {{vkontakte}} </p>
    <p>  Facebook: {{facebook}} </p>
    <p>  Address: {{address}} </p>







