</div>
</div>
</div>


<div id="footer">
    <div class="container">
        <div class="row centered flip-horizontal">
            <a class="blockquote">Yevgeniy Tkachenko official |</a>
            <a class="social" href="#"><i class="fa fa-vk"></i></a>
            <a class="social" href="#"><i class="fa fa-facebook-official"></i></a>
            <a class="social" href="#"><i class="fa fa-twitter"></i></a>
            <a class="social" href="#"><i class="fa fa-skype"></i></a>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/public/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>