
<div class="content_box">


    <h3 align="center">Main Info</h3>

        <p> Name: {{name}}</p>
        <p> Surname: {{surname}}</p>
        <p> Date of birth: {{birthday}}</p>
        <p> Marital status: {{marital_status}}</p>




    <h3 align="center">Education</h3>

        <p> Period: {{period}}</p>


        <p> Institution: {{institution}}</p>


        <p> Specialty: {{specialty}}</p>


        <p> Period: {{period}}</p>

        <p> Institution: {{institution}}</p>

        <p> Specialty: {{specialty}}</p>



        <h3 align="center"> Additional information: </h3>
        <p>Languages: {{languages}}</p>

        <p> Programming languages: {{programming languages}} </p>

        <p> Subversions: {{subversions}} </p>

        <p> OS:  {{OS}}</p>





</div>